In [1]:
# Q1. Create one variable containing following type of data:
#ANS : 
#(i) string
str="Hello"
#(ii) list
list=[1,2,3,4,5]
#(iii) float
f=15.23
#(iv) tuple
tup=(1,'abc',3.21,True)

In [ ]:
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
ANS - 
(i) var1 = ‘ ‘
-> Data type is String
(ii) var2 = ‘[ DS , ML , Python]’
-> Data type is String
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
-> Data type is List
(iv) var4 = 1.
-> Data type is float

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
#ANS - 
#(i) /
#-> This is Arithmetic operator and Division operator
div=10/5
print(div)

2.0

In [6]:
#ANS - 
#(ii) %
#-> This is type of Arithmetic operator and Modulus operator
div=10%5
print(div)

0

In [7]:
#ANS - 
#(iii) //
#-> This is type of Arithmetic operator and Floor division operator
#rounds the result down to the nearest whole number
div=10//5
print(div)

2

In [ ]:
#ANS - 
#(iii) //
#-> This is type of Arithmetic operator and Floor division operator
#rounds the result down to the nearest whole number
div=10//5
print(div)

In [9]:
#ANS - 
#(iv) **
#-> This is type of Arithmetic operator and Exponentiation operator
#same as 2*2*2*2*2
div=10**5
print(div)

100000

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
#ANS -
li=[1,"abc",3.14,True,5+4j,"lmn",2,5.46,False,3+5j]
for i in li:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [13]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A =A/B  
    count =count+1

if A == 0:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A:  10
Enter number B:  5

2.0 is not purely divisible by 5.

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
#ANS - 
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
#ANS - 
mutable -
List is Mutable because it change with there index 
we can chanege,modify and Delete the list item 
hence this is called mutable.

Immutable -
String are Immutable because it does not change with there index
we can not change and modify the String items
hence String is immutable.

In [16]:
str="Game"
str[0]="S"

TypeError: 'str' object does not support item assignment

In [ ]:
This show Error because this is immutable.

In [19]:
list=[1,"abc",3.14,True,5+4j]
print(list)

[1, 'abc', 3.14, True, (5+4j)]

In [20]:
list[1]="Hello"

In [21]:
print(list)

[1, 'Hello', 3.14, True, (5+4j)]

In [ ]:
This change with index therefore this is Mutable.